<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section class="dashboard">
        <nav class="navbar">
            <ul class="navbar-list">
                <li>
                    <img src="./img/prestamo.png" alt="Imagen Logo" class="logo">
                    <i class="fas fa-bars fa-2x"></i>
                    <i class="fas fa-times fa-2x"></i>
                </li>

                <li>
                    <span class="perfil">
                        <!-- ` -->
                    </span>
                </li>
            </ul>
        </nav>
        <div class="content">
            <div class="content-sidebar">
                <ul class="lista-sidebar">
                    <li><i class="fas fa-home "></i><span class="encabezado">Inicio</span></li>
                    <li><i class="fas fa-landmark "></i><span class="encabezado">Prestamos</span></li>
                    <li><i class="fas fa-user-friends "></i><span class="encabezado">Usuarios</span></li>
                    <li><i class="fas fa-cog "></i><span class="encabezado">Configuracion</span></li>
                </ul>
            </div>
            <div class="content-fullbar">
                <div class="presentacion">
                    <h1 class="titulo-1">Inicio</h1>
                    <span class="titulo-pequeño">Estadistas Generales</span>
                </div>
                <div class="stats-all">
                    <div class="cuadros">
                        <span class="cuadros-cantidad">50</span>
                        <span class="cuadros-raya"></span>
                        <span class="cuadros-titulo">Usuarios Registrados</span>
                    </div>
                    <div class="cuadros">
                        <span class="cuadros-cantidad">50</span>
                        <span class="cuadros-raya"></span>
                        <span class="cuadros-titulo">Prestamos Registrados</span>
                    </div>
                    <div class="cuadros">
                        <span class="cuadros-cantidad">50k</span>
                        <span class="cuadros-raya"></span>
                        <span class="cuadros-titulo">Mas</span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script defer src="./js/index.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
</body>

</html>