<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Login</title>
</head>

<body>
    <section class="login">
        <div class="form_container">
            <form action="#">
                <h1>Iniciar Sesion </h1>
                <div class="input-form">
                    <input type="text" id="correo" name="correo" placeholder="correo" class="red-input">
                </div>
                <div class="input-form">
                    <input type="password" id="password" name="password" placeholder="contraseña" class="red-input">
                </div>
                <a href="#" class="btn-form" id="submit">Entrar</a>
                <span class="caption"><a href="#">¿Olvidaste tu contraseña?</a></span>
                <span class="caption"><a href="#">¿No tienes cuenta?</a></span>
            </form>
        </div>

        <div class="imagenes">
            <img src="./img/—Pngtree—gold coin money bag currency_5354497.png" alt="" class="imagen">
        </div>

    </section>
    <script defer src="./js/login.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"
    ></script>

</body>

</html>